    <button 
      href="#"
      class="big ui button"
      data-reflex="<%= reflex %>"
      data-step="<%= step %>"
      data-points_a="<%= points_a.to_i %>"
      data-points_b="<%= points_b.to_i %>"
      data-team="<%= team %>"
      >
      +<%= step %>
      </button>