<p id="notice"><%= notice %></p>
<h1 style="text-align:center; font-size:67pt">This is BasketNote </h1>

<div class="ui two column doubling stackable grid container center aligned">
  <div class="four wide column">
    <div class="two wide column">
      <h2>Team A</h2>
      <button class="mini ui icon basic blue button mt-5" id="create_player_a"><i class="user icon"></i></button>

      <p id="points_a"><%= @points_a %></p>
    </div>
      <%= render 'point_button', { reflex: "click->Points#increment", step: 1, points_a: @points_a, points_b: @points_b, team: "a" }%>
      <%= render 'point_button', { reflex: "click->Points#increment", step: 2, points_a: @points_a, points_b: @points_b, team: "a" }%>
      <%= render 'point_button', { reflex: "click->Points#increment", step: 3, points_a: @points_a, points_b: @points_b, team: "a" }%>

      <%= render 'modal', player_team: 'a' %>

      <%= render partial: 'players', collection: @players_a, as: :player %>
  </div>

  <div class="two wide column">
    <button class="ui negative button" data-reflex="click->PointsReflex#reset">
      Reset
    </button>
  </div>

  <div class="four wide column">
    <div class="two wide column">
      <h2>Team B</h2>
      <button class="mini ui icon basic blue button mt-5" id="create_player_b"><i class="user icon"></i></button>

      <p id="points_b"><%= @points_b %></p>
    </div>

      <%= render 'point_button', { reflex: "click->Points#increment", step: 1, points_a: @points_a, points_b: @points_b, team: "b" }%>
      <%= render 'point_button', { reflex: "click->Points#increment", step: 2, points_a: @points_a, points_b: @points_b, team: "b" }%>
      <%= render 'point_button', { reflex: "click->Points#increment", step: 3, points_a: @points_a, points_b: @points_b, team: "b" }%>

    <%= render 'modal', player_team: 'b' %>

    <%= render partial: 'players', collection: @players_b, as: :player %>
  </div>


  <p id="loser"><%= @loser_message %></p>
</div>